
.darkMode_button_container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 50px;
}

.redux_layout_DARK_MODE_ON {
    background-color: black !important;
    color: white !important;
    padding:'0px 100px';
    min-height: 100vh;
}

.redux_layout_LIGHT_MODE_ON {
    background-color: white !important;
    color: black !important;
    padding:'0px 100px';
    min-height: 100vh;
}